.booking {
  min-height: 555px;
  background-image: url(../img/content/background-form.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;


  @media (min-resolution: $retina-dppx) {
    background-image: url(../img/content/background-form@2x.jpg);
  }
}

.booking__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;

  @include vp-1023 {
    grid-template-columns: 1fr;
  }
}

.booking__content {
  margin-left: 60px;

  @include vp-1023 {
    margin-left: 0;
    justify-self: center;
    text-align: center;
  }
}

.booking__content h2 {
  font-size: 40px;
  line-height: 150%;
  font-weight: 700;
  color: $color-dark;
  margin: 0;
  margin-top: 160px;
  margin-bottom: 10px;

  @include vp-1023 {
    margin: 0;
  }
}

.booking__content p {
  font-size: 18px;
  line-height: 150%;
  color: $color-dark;
  width: 67.7%;
  margin: 0;

  @include vp-1023 {
    width: 53%;
    margin: 0 auto;
    padding-bottom: 60px;
  }
}

.booking__form {
  width: 403px;
  height: 455px;
  background-color: $color-dark;
  margin-right: 60px;
  justify-self: flex-end;

  @include vp-1023 {
    margin-right: 0;
    justify-self: center;
  }
}

.booking__fields {
  margin: 0;
  padding: 40px 50px;
  border: none;
}

.booking__fields p {
  font-size: 18px;
  line-height: 150%;
  font-weight: 500;
  color: $color-white;
  padding-bottom: 30px;
  margin: 0;
}

.booking__field {
  width: 100%;
  height: 43px;
  padding: 11px 16px;
  margin-bottom: 20px;
  border: none;
}

.booking__checkbox {
  position: relative;
  display: flex;
  margin-bottom: 35px;
}

.booking__checkbox input+label::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  top: -2px;
  left: 0;
  background-color: $color-white;
}

.booking__checkbox input:checked+label::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  top: -2px;
  left: 0;
  background-image: url(../img/content/check-ok.png);
  background-repeat: no-repeat;
  background-position: center;
}


.booking__checkbox label {
  font-size: 10px;
  line-height: 130%;
  color: $color-white;
  vertical-align: middle;
  padding-left: 23px;
}

.booking__button {
  font-size: 14px;
  line-height: 150%;
  font-weight: 600;
  color: $color-dark;
  width: 100%;
  height: 43px;
  border: none;
  padding: 0;
  background-color: $color-white;
}

@media (max-width: $vp-768) {
  .booking {
    max-height: 805px;
    background-image: url(../img/content/background-form1.jpg);
    padding-top: 88px;
    padding-bottom: 80px;

    @media (min-resolution: $retina-dppx) {
      background-image: url(../img/content/background-form1@2x.jpg);
    }
  }

    .booking__content h2 {
    font-size: 34px;
    padding-bottom: 5px;
  }

  .booking__content p {
    padding-bottom: 50px;
  }

  .booking__fields {
      padding-top: 48px;
  }

  .booking__fields p {
      padding-bottom: 25px;
  }

  .booking__form {
    @include vp-767 {
     width: 290px;
    }
  }

  .booking__breake {
    display: none;
  }
}


@media (max-width: $vp-320) {
  .booking {
    padding-top: 60px;
    padding-bottom: 69px;
  }

  .booking__content h2 {
    font-size: 24px;
    line-height: 130%;
    padding-bottom: 12px;
  }

  .booking__content p {
    font-size: 16px;
    line-height: 140%;
    width: 257px;
    margin: 0 auto;
    padding-bottom: 35px;
  }

  .booking__fields {
    padding: 35px 30px 40px;
  }

  .booking__fields p {
    line-height: 140%;
    text-align: center;
  }

  .booking__checkbox {
    margin-bottom: 25px;
  }
}
