.booking {
  padding: 50px 0;
  background-image: url(../img/content/background-form.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  @include retina {
    background-image: url(../img/content/background-form@2x.jpg);
  }

  @include vp-1279 {
    padding-top: calc(50px - (1279px - 100vw)/(1279 - 768)*(50 - 90));
    padding-bottom: calc(50px - (1279px - 100vw)/(1279 - 768)*(50 - 100));
  }

  @include vp-1023 {
    background-image: url(../../img/content/background-form1.jpg);
    @include retina {
      background-image: url(../../img/content/background-form1@2x.jpg);
    }
  }
}

.booking__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include vp-1023 {
    grid-template-columns: 1fr;
  }
}

.booking__content {
  margin-left: 60px;
  padding-top: 163px;

  @include vp-1279 {
    padding-top: calc(163px - (1279px - 100vw)/(1279 - 768)*(163 - 0));
    margin-left: calc(60px - (1279px - 100vw)/(1279 - 768)*(60 - 0));
  }

  @include vp-1023 {
    margin: 0;
    justify-self: center;
  }
}

.booking__content h2 {
  @include font(40px, 150%, 700, $color-dark);
  margin: 0 0 10px;

  @include vp-1279 {
    font-size: calc(40px - (1279px - 100vw)/(1279 - 768)*(40 - 34));
    margin-bottom: 5px;
  }
}

.booking__content p {
  width: 352px;
  @include font(18px, 150%, 400, $color-dark);
  margin: 0;

  @include vp-1023 {
    margin: 0 auto calc((1279px - 100vw)/(1279 - 768)*(50));
  }
}

.booking__form {
  margin-right: 60px;
  width: 403px;
  justify-self: right;
  background-color: $color-dark;

  @include vp-1023 {
    justify-self: center;
    margin: 0;
  }
}

.booking__fields {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  padding: 45px 50px 50px;
}

.booking__fields p {
  @include font(18px, 150%, 500, $color-white);
  margin: 0 0 25px 0;
}

.booking__fields input {
  width: 100%;
  height: 43px;
  border: 0;
  padding: 11px 16px;
  margin-bottom: 20px;

  &::placeholder {
    @include font(14px, 150%, 400, $color-dark-70);
  }
}

.booking__label {
  @include font(10px, 130%, 400, $color-white);
  vertical-align: middle;
  padding-left: 22px;
}

.booking__checkbox {
  position: relative;
  display: flex;
  margin-bottom: 35px;
}

.booking__checkbox input+label::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  top: -2px;
  left: 0;
  background-color: $color-white;
}

.booking__checkbox input:checked+label::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  top: -2px;
  left: 0;
  background-image: url(../img/content/check-ok.png);
  background-repeat: no-repeat;
  background-position: center;
}

.booking__button {
  @include font(14px, 150%, 600, $color-dark);
  background-color: $color-white;
  padding: 12px 0;
  border: none;
}

.booking__breake {
  display: none;
}

@media (max-width: $vp-768) {
  .booking {
    @include vp-767 {
      padding-top: calc(90px - (768px - 100vw)/(768 - 320)*(90 - 60));
      padding-bottom: calc(90px - (768px - 100vw)/(768 - 320)*(90 - 65));
    }
  }

  .booking__content h2 {
    @include vp-767 {
      font-size: calc(34px - (768px - 100vw)/(768 - 320)*(34 - 24));
      line-height: calc(51px - (768px - 100vw)/(768 - 320)*(51 - 31));
      text-align: center;
      margin-bottom: 12px;
    }
  }

  .booking__content p {
    text-align: center;
    @include vp-767 {
      font-size: calc(18px - (768px - 100vw)/(768 - 320)*(18 - 16));
      line-height: calc(27px - (768px - 100vw)/(768 - 320)*(27 - 22));
      margin-bottom: calc(60px - (768px - 100vw)/(768 - 320)*(60 - 35));
      width: 90%;
    }
  }

  .booking__form {
    @include vp-767 {
      width:calc(403px - (768px - 100vw)/(768 - 320)*(403 - 290));
      height: 460px;
    }
  }

  .booking__fields {
    padding-bottom: 40px;
    @include vp-767 {
      padding-top: calc(45px - (768px - 100vw)/(768 - 320)*(45 - 35));
      padding-bottom: calc(50px - (768px - 100vw)/(768 - 320)*(50 - 30));
      padding-left: calc(50px - (768px - 100vw)/(768 - 320)*(50 - 30));
      padding-right: calc(50px - (768px - 100vw)/(768 - 320)*(50 - 30));
    }
  }

  .booking__fields p {
    line-height: 140%;
    text-align: left;
    margin-bottom: 30px;

    @include vp-374 {
      text-align: center;
    }
  }

  .booking__label {
    line-height: 120%;
    padding-left: 27px;
  }

  .booking__button {
    transform: translateY(-10px);
  }

  .booking__breake {
    display: block;
  }
}

@media (max-width: $vp-320) {
  .booking {
    background-image: url(../img/content/background-form2.jpg);

    @include retina {
      background-image: url(../img/content/background-form2@2x.jpg);
    }
  }
}
