
.catalog {
  padding-top: 120px;
  padding-bottom: 120px;
}

.catalog__title {
  font-size: 28px;
  line-height: 150%;
  font-weight: 600;
  color: $color-dark;
  text-align: center;
  margin: 0;
  padding-bottom: 49px;
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 30px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  list-style: none;

  @include vp-1023 {
    grid-template-columns: 1fr 1fr;
  }

  @include vp-374 {
    grid-template-columns: 1fr;
  }
}

.catalog__item {
  position: relative;
}

.catalog__item p {
  font-size: 18px;
  line-height: 150%;
  font-weight: 500;
  color: $color-white;
  position: absolute;
  bottom: 5.95%;
  left: 11.53%;
  margin: 0;
}

@media (max-width: $vp-768) {
  .catalog {
    padding-top: 88px;
    padding-bottom: 100px;
  }

  .catalog__title {
    font-size: 26px;
  }

  .catalog__item p {
    bottom: 7%;
  }
}

@media (max-width: $vp-320) {
  .catalog {
    padding-top: 58px;
    padding-bottom: 63px;
  }

  .catalog__list {
    padding-left: 10px;
    padding-right: 10px;
  }

  .catalog__title {
    font-size: 24px;
    padding-bottom: 30px;
  }

  .catalog__item p {
    bottom: 20px;
    left: 25px;
  }
}
