.catalog {
  padding-top: 105px;
  padding-bottom: 120px;

  @include vp-1279 {
    padding-top: calc(105px - (1279px - 100vw)/(1279 - 768)*(105 - 90));
    padding-bottom: calc(120px - (1279px - 100vw)/(1279 - 768)*(120 - 100));
  }
}

.catalog__item {
  position: relative;
  cursor: pointer;
}

.catalog__image img {
  width: 100%;
  object-fit: cover;
}

.catalog__title {
  @include font(28px, 150%, 600, $color-dark);
  text-align: center;
  margin: 0;
  padding-bottom: 50px;

  @include vp-1279 {
    font-size: calc(28px - (1279px - 100vw)/(1279 - 768)*(28 - 26));
  }
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 30px;
  margin: 0;
  padding: 0 15px;
  list-style: none;

  @include vp-1023 {
    grid-template-columns: 1fr 1fr;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.catalog__image {
  position: relative;
}

.catalog__image p {
  @include font(18px, 150%, 500, $color-white);
  position: absolute;
  bottom: 20px;
  left: 30px;
  margin: 0;

  @include vp-1279 {
    bottom: calc(20px - (1279px - 100vw)/(1279 - 768)*(20 - 25));
    left: calc(30px - (1279px - 100vw)/(1279 - 768)*(30 - 35));
  }
}

@media (max-width: $vp-768) {
  .catalog {
    @include vp-767 {
      padding-top: calc(90px - (768px - 100vw)/(768 - 320)*(90 - 55));
      padding-bottom: calc(100px - (768px - 100vw)/(768 - 320)*(100 - 65));
    }
  }

  .catalog__title {
    @include vp-767 {
      font-size: calc(26px - (768px - 100vw)/(768 - 320)*(26 - 24));
      padding-bottom: calc(50px - (768px - 100vw)/(768 - 320)*(50 - 30));
    }
  }

  .catalog__list {
    padding: 0 15px;

    @include vp-374 {
      padding: 0 10px;
    }
  }

  .catalog__image p {
    @include vp-767 {
      bottom: calc(25px - (768px - 100vw)/(768 - 320)*(25 - 15));
      left: calc(30px - (768px - 100vw)/(768 - 320)*(30 - 25));
    }
  }
}

// Карточка круиза

.catalog__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 30px 25px 35px;
  background-color: $color-dark;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  overflow: auto;
}

.catalog__item:hover .catalog__card {
  opacity: 1;
  transition: 0.5s;
}

.catalog__card h3 {
  @include font(18px, 150%, 500, $color-white);
  padding-bottom: 12px;
  margin: 0;
}

.catalog__card dl {
  margin: 0;
  flex-grow: 1;
}

.catalog__card dt {
  @include font(14px, 140%, 500, $color-white);
}

.catalog__card dd {
  @include font(14px, 140%, 400, $color-gray);
  margin: 0 0 14px 0;
}

.catalog__card-link {
  @include font(14px, 150%, 600, $color-dark);
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background-color: $color-white;
}

@media (max-width: $vp-768) {
  .catalog__card {
    padding: 30px 35px 35px;
  }

  .catalog__card h3 {
    padding-bottom: 14px;
  }
}

@media (max-width: $vp-320) {
  .catalog__card {
    padding: 30px 25px 35px;
  }
}
