
.catalog {
  padding-top: 120px;
  padding-bottom: 120px;
}

.catalog__title {
  font-size: 28px;
  line-height: 150%;
  font-weight: 600;
  color: $color-dark;
  text-align: center;
  margin: 0;
  padding-bottom: 49px;
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 30px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  list-style: none;

  @include vp-1023 {
    grid-template-columns: 1fr 1fr;
  }

  @include vp-374 {
    grid-template-columns: 1fr;
  }
}

.catalog__item {
  // overflow: hidden;
}

.catalog__image {
  display: block;
  position: relative;
}

.catalog__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.catalog__image p {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: $color-white;
}

.catalog__card {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  background-color: $color-dark;
  height: 100%;
  padding: 10px;
}

.catalog__item:hover .catalog__image{
  display: none;
}

.catalog__item:hover .catalog__card {
  display: flex;
}

.catalog__card h3 {
  font-size: 18px;
  line-height: 150%;
  font-weight: 500;
  color: $color-white;
  margin: 0;
}

.catalog__card dl {
  flex-grow: 1;
  margin: 0;
}

.catalog__card dt{
  font-size: 14px;
  line-height: 140%;
  font-weight: 500;
  color: $color-white;
}

.catalog__card dd {
  font-size: 14px;
  line-height: 140%;
  font-weight: 400;
  color: $color-gray;
  margin: 0;
}

.catalog__card-link {
  font-size: 14px;
  line-height: 140%;
  font-weight: 600;
  color: $color-dark;
  text-align: center;
  width: 100%;
  background-color: $color-white;
  padding: 14px 0;
}

@media (max-width: $vp-768) {
  .catalog {
    padding-top: 88px;
    padding-bottom: 100px;
  }

  .catalog__title {
    font-size: 26px;
  }

  .catalog__item p {
    bottom: 7%;
  }
}

@media (max-width: $vp-320) {
  .catalog {
    padding-top: 58px;
    padding-bottom: 63px;
  }

  .catalog__list {
    padding-left: 10px;
    padding-right: 10px;
  }

  .catalog__title {
    font-size: 24px;
    padding-bottom: 30px;
  }

  .catalog__item p {
    bottom: 20px;
    left: 25px;
  }

  .catalog__item:hover .catalog__card {
    display: none;
  }

}
