.contacts {
  padding: 120px 0;

  @include vp-1279 {
    padding-top: calc(120px - (1279px - 100vw)/(1279 - 768)*(120 - 90));
    padding-bottom: calc(120px - (1279px - 100vw)/(1279 - 768)*(120 - 100));
  }
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  @include vp-1279 {
    column-gap: 30px;
  }
}

.contacts__map {
  overflow: hidden;
  position:relative;
  height: 306px;
  background-color: $color-gray;

  @include vp-1279 {
    height: 335px;
  }

  @include vp-767 {
    height: 316px;
  }
}

.contacts__map iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.contacts__info {
  justify-self: right;
  padding-top: 75px;

  @include vp-1279 {
    padding-top: 73px;
  }
}

.contacts__info h3 {
  @include font(18px, 150%, 500, $color-dark);
  width: 500px;
  margin: 0 0 30px 0;

  @include vp-1279 {
    width: calc(500px - (1279px - 100vw)/(1279 - 768)*(500 - 324));
  }
}

.contacts__info p {
  @include font(16px, 150%, 400, $color-dark);
  margin: 0;
  padding-left: 28px;
  background-repeat: no-repeat;
  background-position: 0 0;

  &:first-of-type {
    margin-bottom: 22px;
    background-image: url(../../img/content/icon-point.png);
  }

  &:nth-of-type(n + 2) {
    background-image: url(../../img/content/icon-phone.png);
  }
}

@media (max-width: $vp-768) {
.contacts {
    padding-top: calc(90px - (768px - 100vw)/(768 - 320)*(90 - 60));
    padding-bottom: calc(110px - (768px - 100vw)/(768 - 320)*(100 - 53));
  }

  .contacts__wrapper {
    @include vp-767 {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  .contacts__info {
    padding-top: calc(73px - (768px - 100vw)/(768 - 320)*(73 - 0));
    margin-bottom: 35px;
  }

  .contacts__info h3 {
    margin: 0 0 28px;
    width: 100%;
  }
}
