.footer {
  background-color: $color-dark;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  height: 132px;

  @include vp-1279 {
    height: calc(132px - (1279px - 100vw)/(1279 - 768)*(132 - 120));
  }
}

.footer__navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 1;
}

.footer__logo {
  color: $color-white;

  @include vp-1279 {
    width: calc(70px - (1279px - 100vw)/(1279 - 768)*(70 - 38));
  }
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  list-style: none;
  align-items: center;
  margin: 0;
  padding-left: 40px;

  @include vp-1279 {
    padding-left: calc(40px - (1279px - 100vw)/(1279 - 768)*(40 - 25));
  }
}

.footer__item {
  margin-right: 33px;

  &:last-child {
    margin-right: 0;
  }

  @include vp-1279 {
    margin-right: calc(33px - (1279px - 100vw)/(1279 - 768)*(33 - 23));
  }
}

.footer__link {
  @include font(16px, 20px, 500, $color-white);

  @include vp-1279 {
    font-size: calc(16px - (1279px - 100vw)/(1279 - 768)*(16 - 12));
    line-height: calc(20px - (1279px - 100vw)/(1279 - 768)*(20 - 15));
  }
}

.footer__social {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}

.footer__social li {
  margin-left: 33px;

  &:first-child {
    margin-left: 0;
  }

  @include vp-1279 {
    margin-left: calc(33px - (1279px - 100vw)/(1279 - 768)*(33 - 22));
  }
}

.footer__social svg {
  @include vp-1279 {
    width: 16px;
  }
}

@media (max-width: $vp-768) {
  .footer {
    @include vp-767 {
      height: 283px;
      padding: 30px 0;
    }
  }

  .footer__wrapper {
    @include vp-767 {
       display: block;
    }
  }

  .footer__navigation {
    @include vp-767 {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .footer__logo {
    @include vp-767 {
      width: 42px;
    }
  }

  .footer__list {
    @include vp-767 {
      flex-direction: column;
      align-items: flex-start;
      padding: 17px 0 0 0;
      margin-bottom: 20px;
    }
  }

  .footer__item {
    @include vp-767 {
      margin: 0 0 8px 0;
    }

    &:last-child {
      @include vp-767 {
        margin: 0;
      }
    }
  }

  .footer__link {
    @include vp-767 {
      @include font(12px, 15px, 500, $color-white);
    }
  }

  .footer__social li {
    @include vp-767 {
      margin-left: 19px;
    }
  }
}
