.page-header {
  background-image: url(../img/content/background-head.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  padding-top: 35px;
  background-color: $color-neon-blue;

  @include retina {
    background-image: url(../img/content/background-head@2x.jpg);
  }

  @include vp-1279 {
    padding-top: calc(35px - (1279px - 100vw)/(1279 - 768)*(35 - 30));
    height: calc(650px - (1279px - 100vw)/(1279 - 768)*(650 - 638));
  }
}

.page-header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;


  @include vp-767 {
    &--mobile {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: min-content 1fr;
      width: calc(678px - (767px - 100vw)/(767 - 320)*(678 - 285));
      background-color: $color-white;
      position: fixed;
      top: 0;
      right: 0;
      padding: 20px 15px 15px;
      height: calc(638px - (767px - 100vw)/(767 - 320)*(638 - 500));
      box-shadow: -89px 0 $color-background-gray;
      z-index: 10;
    }

    &--nojs {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: min-content 1fr;
      width: 285px;
      background-color: $color-white;
      position: static;
      padding: 20px 15px 15px;
      margin: 0 auto;
      height: 280px;
      box-shadow: -89px 0 $color-background-gray;
      z-index: 10;
    }
  }
}

.page-header__logo {
  color: $color-white;

  @include vp-1279 {
    width: calc(70px - (1279px - 100vw)/(1279 - 768)*(70 - 38));
    height: auto;
  }
}

.page-header__button {
  display: none;
  cursor: pointer;

  @include vp-767 {

    &--open {
    display: block;
    width: 24px;
    height: 14px;
    border: none;
    align-self: center;
    position: relative;
    background-color: transparent;

    &::before {
      content: "";
      position: absolute;
      width: 24px;
      height: 2px;
      top: 6px;
      left: 0;
      background-color: $color-white;
      box-shadow: 0 6px 0 0 $color-white,
                    0 -6px 0 0 $color-white;

      }
    }

    &--close {
      display: block;
      position: relative;
      width: 22px;
      height: 22px;
      justify-self: right;

      &::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: $color-dark;
        top: 10px;
        left: 5px;
        transform: rotate(45deg);
      }

      &::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: $color-dark;
        top: 10px;
        left: 5px;
        transform: rotate(-45deg);
      }
    }
  }
}

.page-header__list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-header__item {
  padding-right: 33px;

  @include vp-1279 {
    padding-right: calc(33px - (1279px - 100vw)/(1279 - 768)*(33 - 23));
  }

  &:last-child {
    padding-right: 0;
  }
}

.page-header__link {
  @include font(16px, 20px, 500, $color-white);

  @include vp-1279 {
    font-size: calc(16px - (1279px - 100vw)/(1279 - 768)*(16 - 14));
    line-height: calc(20px - (1279px - 100vw)/(1279 - 768)*(20 - 17))
  }

  &:hover {
    color: $color-gray;
  }
}

.page-header__title {
  @include font(54px, 66px, 700, $color-white);
  padding: 195px 0 15px 95px;
  margin: 0;

  @include vp-1279 {
    font-size: calc(54px - (1279px - 100vw)/(1279 - 768)*(54 - 50));
    line-height: calc(66px - (1279px - 100vw)/(1279 - 768)*(66 - 61));
    padding-left: calc(95px - (1279px - 100vw)/(1279 - 768)*95);
    padding-top: calc(195px - (1279px - 100vw)/(1279 - 768)*(195 - 215));
    padding-bottom: calc(15px - (1279px - 100vw)/(1279 - 768)*(15 - 10));
   }
}

.page-header__title--nojs {
  @include vp-374 {
    padding-top: 20px;
  }
}

.page-header__slogan {
  @include font(20px, 24px, 400, $color-white);
  margin: 0;
  padding-left: 95px;

  @include vp-1279 {
    font-size: calc(20px - (1279px - 100vw)/(1279 - 768)*(20 - 18));
    line-height: calc(24px - (1279px - 100vw)/(1279 - 768)*(24 - 22));
    padding-left: calc(95px - (1279px - 100vw)/(1279 - 768)*95);
  }
}

.page-header__breake {
  display: none;
}

@media (max-width: $vp-768) {
  .page-header {
    padding-top: calc(30px - (768px - 100vw)/(768 - 320)*(30 - 20));
    background-image: url(../img/content/background-head1.jpg);

    @include retina {
      background-image: url(../img/content/background-head1@2x.jpg);
    }

    @include vp-767 {
      height: calc(638px - (768px - 100vw)/(768 - 320)*(638 - 500));
    }
  }

  .page-header__logo {
    @include vp-767 {
      width: calc(38px - (678px - 100vw)/(678 - 320)*(38 - 42));
    }

    @include vp-767 {
      &--mobile {
        width: 42px;
        color: $color-dark;
      }
    }
  }

  .page-header__list {
    @include vp-767 {
      display: none;
    }
  }

  .page-header__list--mobile {
    @include vp-767 {
    grid-column-start: 1;
    grid-column-end: -1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 0;
    align-self: flex-start;
    padding: 43px 10px;
    }
  }

  .page-header__item {
    @include vp-767 {
      margin-bottom: 25px;
    }
  }

  .page-header__link {
    @include vp-767 {
      font-size: 18px;
      line-height: 22px;
      font-weight: 500;
      color: $color-dark;
    }
  }

  .page-header__title {
    font-size: calc(50px - (768px - 100vw)/(768 - 320)*(50 - 36));
    line-height: calc(61px - (768px - 100vw)/(768 - 320)*(61 - 45));
    padding-top: calc(215px - (768px - 100vw)/(768 - 320)*(215 - 135));
    padding-bottom: calc(10px - (768px - 100vw)/(768 - 320)*(10 - 10));

  }
}

@media (max-width: $vp-320) {
  .page-header {
    background-image: url(../img/content/background-head2.jpg);

    @include retina {
      background-image: url(../img/content/background-head2@2x.jpg);
    }
  }

  .page-header__breake {
    display: block;
  }
}
