.page-header {
  background-image: url(../img/content/background-head.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  padding-top: 35px;

  @media (min-resolution: $retina-dppx) {
    background-image: url(../img/content/background-head@2x.jpg);
  }
}

.page-header__logo {
  width: 70px;
  height: auto;
  color: $color-white;
}

.page-header__navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-header__button {
  display: none;
}

.page-header__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: end;
  align-items: center;
  flex-grow: 1;
  padding: 0;
  margin: 0;
}

.page-header__item {
  padding-right: 33px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: $color-white;


  &:last-child {
    padding-right: 0;
  }
}

.page-header__link {
  color: $color-white;
}

.page-header__title {
  font-size: 54px;
  line-height: 66px;
  font-weight: 700;
  color: $color-white;
  margin: 0;
  padding-top: 195px;
  padding-left: calc(95px - (1366px - 100vw)/(1366 - 768)*95);
}

.page-header__slogan {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: $color-white;
  margin: 0;
  padding-top: 15px;
  padding-left: calc(95px - (1366px - 100vw)/(1366 - 768)*95);
}

.page-header__breake {
  display: none;
}

@media (max-width: $vp-768) {
  .page-header {
    background-image: url(../img/content/background-head1.jpg);
    background-size: cover;
    padding-top: 30px;
    height: 638px;

    @media (min-resolution: $retina-dppx) {
      background-image: url(../img/content/background-head1@2x.jpg);
    }
  }

  .page-header__logo {
    width: 38px;
    height: auto;
  }

  .page-header__list {
    align-items: flex-end;
  }

  .page-header__item {
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    padding-right: 23px;
  }

  .page-header__title {
    font-size: 50px;
    line-height: 61px;
    padding-top: 215px;
    padding-left: 0;
  }

  .page-header__slogan {
    font-size: 18px;
    line-height: 140%;
    padding-top: 13px;
    padding-left: 0;
  }
}

@media (max-width: $vp-610) {
  .page-header {
    background-image: url(../img/content/background-head2.jpg);
  }

  .page-header__list {
    display: none;
  }

  .page-header__button--open {
    display: block;
    width: 24px;
    height: 14px;
    border: none;
    align-self: center;
    position: relative;
    background-color: transparent;

    &::before {
      content: "";
      position: absolute;
      width: 24px;
      height: 2px;
      top: 6px;
      left: 0;
      background-color: $color-white;
      box-shadow: 0 6px 0 0 $color-white,
                    0 -6px 0 0 $color-white;
    }
  }

  .page-header__breake {
    display: block;
  }
}

@media (max-width: 320px) {
  .page-header {
    padding-top: 20px;
    height: 500px;
  }

  .page-header__logo {
    width: 42px;
  }

  .page-header__title {
    font-size: 36px;
    line-height: 125%;
    padding-top: 132px;
    padding-left: 0;
  }

  .page-header__slogan {
    font-size: 16px;
    line-height: 150%;
    padding-top: 12px;
    padding-left: 0;
  }

}
